@import url(https://fonts.googleapis.com/css?family=Roboto:300);

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.tableMenu td, th, tr {
	margin: 0px;
	padding: 0px;
}
.tableMenu {
	border: none;
}

.labelTitre {
	font-family: cursive;
	border: thin solid #27AE60;
	width: 50%;
	font-size: 30px;
	padding: 5px;
	background-color: #ffffff;
}

.boutonAccueil {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #C0392B;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.boutonClient {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #2980B9;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.boutonCommande {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #D35400;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.login-page {
	width: 800px;
	padding: 8% 0 0;
	margin: auto;
}

.rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.styled-select {
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
	height: 29px;
	overflow: hidden;
	width: 240px;
	color: #ffffff;
}

.green {
	background-color: #27AE60;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 1000px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.bouton {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #27AE60;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #4CAF50;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #27AE60;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}

.container .info {
	margin: 50px auto;
	text-align: center;
}

.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}

.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}

.container .info span a {
	color: #000000;
	text-decoration: none;
}

.container .info span .fa {
	color: #EF3B3A;
}

body {
	background: #27AE60; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #27AE60, #27AE60);
	background: -moz-linear-gradient(right, #27AE60, #27AE60);
	background: -o-linear-gradient(right, #27AE60, #27AE60);
	background: linear-gradient(to left, #27AE60, #27AE60);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table {
	border: medium solid #008000;
	border-collapse: collapse;
	width: 50%;
}

th {
	font-family: sans-serif;
	border: thin solid #27AE60;
	width: 50%;
	padding: 5px;
	background-color: #2ECC71;
	background-image: url(sky.jpg);
}

td {
	font-family: sans-serif;
	border: thin solid #27AE60;
	width: 50%;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
}

caption {
	font-family: sans-serif;
}

.content {
	overflow-x:auto;
}